.join {
  background-color: $join;
}

.join__group {
  padding-top: 113px;
  padding-bottom: 112px;
  text-align: center;
}

.join__name {
  text-align: center;
}

.join_btn {
  background: #008e6e;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  padding: 26px 48px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & a {
    text-decoration: none;
    color: $white-text;
  }

  &:hover,
  &:focus {
    background-color: blue;
    color: $white-text;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
